<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Youssef Mohamed">
    <title>Sign Up options</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class = "container_choose">
        <a href="/signup_stud"><span><button class = "sign-up1">student</button></span></a>
        <a href="/signup_prof"><span><button class = "login1">Professor</button></span></a>
     </div>
</body>
</html>