<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
<script src="https://kit.fontawesome.com/ed4f7946ad.js" crossorigin="anonymous"></script>
    
<title>Communities</title>
</head>
<body>

    <section class="sub-header">
        <nav>
            <a href="home"><img src="../static/imgs/logo.png"></a>
            <a href="home" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="communities">Communities</a>
                    </li>
                    <li>
                        <a href="syllabus">Syllabus</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="myaccount" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i></a>                 
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>
        <h1>Communitiy</h1>
    </section>

   <section class="commu">
    <div class="row1">
        <div class="row">
            <a href=""><div><img src="../static/imgs/slide2.jpeg"></div></a>
            <div>
                <a href="cyber"><h3>Cyber Security</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum harum hic non vitae molestiae id eligendi autem sunt, amet omnis, optio consequuntur. Eum earum dicta ut distinctio consequuntur voluptates.</p>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="row">
            <div>
                <a href="ps"><h3>Problem Solving</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum harum hic non vitae molestiae id eligendi autem sunt, amet omnis, optio consequuntur. Eum earum dicta ut distinctio consequuntur voluptates.</p>
            </div>
            <a href=""><div><img src="../static/imgs/slide1.jpeg"></div></a>
        </div>
    </div>
   
    <div class="row1">
        <div class="row">
            <a href=""><div><img src="../static/imgs/slide3.jpg"></div></a>
            <div>
                <a href=""><h3>Embedded System</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum harum hic non vitae molestiae id eligendi autem sunt, amet omnis, optio consequuntur. Eum earum dicta ut distinctio consequuntur voluptates.</p>
            </div>
        </div>    
    </div>  
   </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem a voluptatum inventore</p>
        <div class="icons">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram "></i></a>
            <a href=""><i class="fa-brands fa-youtube "></i></a>
            <a href=""><i class="fa-brands fa-linkedin "></i></a>
        </div>
    </section>

</body>
</html>