<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
<script src="https://kit.fontawesome.com/ed4f7946ad.js" crossorigin="anonymous"></script>
    
<title>Document</title>
</head>
<body>

    <section class="sub-header">
        <nav>
            <a href="home_loggedin"><img src="../static/imgs/logo.png"></a>
            <a href="home_loggedin" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li>
                        <a href="home_loggedin">Home</a>
                    </li>
                    <li>
                        <a href="communities_loggedin">Communities</a>
                    </li>
                    <li>
                        <a href="syllabus_loggedin">Syllabus</a>
                    </li>
                    <li>
                        <a href="about_loggedin">About</a>
                    </li>
                    <li>
                        <a href="contact_loggedin">Contact Us</a>
                    </li>
                    <li>
                        <a href="myaccount_loggedin" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i></a>                 
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>
        <h1>Contact Us</h1>
    </section>

    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8230.37415130327!2d31.335789533132377!3d29.85140721746879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583763f0493b35%3A0x4d6c3cde8ab3c00f!2sFaculty%20of%20Engineering%20-%20Helwan%20University%2C%20Helwan%20Branch!5e0!3m2!1sen!2seg!4v1715005054645!5m2!1sen!2seg" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>">
    </section>

    <section class="contact-us" id = "talk">
        <div class="row">
            <div class="contact-col">
                
                    <h3>Contact Us</h3>
                    <p>we are happy to receive any kind of message our purpose is to improve our website and 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fuga illum eaque non est ipsa laborum quis doloribus, quibusdam laudantium laboriosam. Dignissimos itaque neque tempore! Velit iure laborum libero magni. 
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia debitis quaerat corporis quibusdam atque totam! Reprehenderit illo ullam perferendis eius. Saepe accusantium fugiat asperiores tempora minima fugit necessitatibus, nemo laboriosam.
                    </p>
                <div>
                    <i class="fa fa-envelope-o"></i>
                    <span>
                        <h5>abumohamedatta@gmail.com</h5>
                        <p>Email us your Query</p>
                    </span>
                </div>
            </div>

            <div class="contact-col">
                <form action="">
                    <h5>Name</h5>
                    <input type="text" placeholder="Enter your name" required>
                    <h5>Email Address</h5>
                    <input type="email" placeholder="Enter email address" required>
                    <h5>Subject</h5>
                    <input type="text" placeholder="Enter your subject" required>
                    <textarea rows="8" placeholder="Message" required></textarea>
                    <button class="hero-btn red-btn" type="submit">Send</button>
                </form>

            </div>
        </div>

    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem a voluptatum inventore</p>
        <div class="icons">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram "></i></a>
            <a href=""><i class="fa-brands fa-youtube "></i></a>
            <a href=""><i class="fa-brands fa-linkedin "></i></a>
        </div>
    </section>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        // Function to scroll to a specific element
        function scrollToElement(elementId) {
            var element = document.getElementById(elementId);
            if(element) {
                element.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        }

    
        // Call the function to scroll to the target element when the page loads
        scrollToElement("talk");
    });
</script>
</body>
</html>