<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style_embedded.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="../static/take_actions.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
        <script src="https://kit.fontawesome.com/ed4f7946ad.js"
            crossorigin="anonymous"></script>

        <title>Embedded Systems | Helwan NestNetwork</title>
    </head>
    <body>

        <section class="header">
            <nav>
                <a href="about"><img src="../static/imgs/logo_embedded.png"></a>
                <a href="about" class="logo">NESTNETWORK</a>
                <div class="nav-links" id="nav-links">
                    <i class="fa fa-times"></i>
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li>
                            <li>
                                <a href="about">About</a>
                            </li>
                            <li>
                                <a href="contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="signup_for_ps">Start Learning</a>
                            </li>
                        </ul>
                    </div>
                    <i class="fa fa-bars"></i>
                </nav>

                <div class="text-box">
                    <h1>Embedded Systems</h1>
                    <p><h3>
                            Unlock the power of tiny yet mighty embedded
                            systems, where coding meets hardware magic, igniting
                            your potential to build smart gadgets that bring
                            your wildest tech dreams to life.
                        </h3></p>
                    <a class="hero-btn" href="signup_forembedded">Start
                        Learning</a>
                </div>
            </section>

            <section class="community">
                <h1>The Power of Embedded Systems</h1>
                <p>Embedded systems play a crucial role in Egypt's technological
                    landscape, permeating various sectors and industries with
                    their diverse applications and contributions. These systems,
                    consisting of hardware and software components tightly
                    integrated to perform specific functions within larger
                    systems, have become integral to Egypt's advancement in
                    areas ranging from telecommunications and transportation to
                    healthcare and agriculture.
                </p>

                <!-- Include additional content here -->
            </section>

            <section class="footer">
                <h4>Contact Us</h4>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                <div class="icons">
                    <a href><i class="fa-brands fa-square-facebook"></i></a>
                    <a href><i class="fa-brands fa-instagram "></i></a>
                    <a href><i class="fa-brands fa-youtube "></i></a>
                    <a href><i class="fa-brands fa-linkedin "></i></a>
                </div>
            </section>

        </body>
    </html>
