<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content ="This is a community for Faculty of Engineering Helwan University"/>
    <meta name ="author" content  ="Youssef Mo7amed" />
    <title>Helwan NestNetwork</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class = "container">
       <p class = "name">Helwan NestNetwork</p>
       <a href="/choose"><span><button class = "sign-up">Sign Up</button></span></a>
       <a href="/login"><span><button class = "login">Login</button></span></a>
    </div>
</body>
</html>