<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/take_actions.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ed4f7946ad.js" crossorigin="anonymous"></script>
    
    <title>Helwan NestNetwork</title>
</head>
<body>

    <section class="header">
        <nav>
            <a href="home"><img src="../static/imgs/logo.png"></a>
            <a href="home" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li>
                        <a href="home_loggedin">Home</a>
                    </li>
                    <li>
                        <a href="communities_loggedin">Communities</a>
                    </li>
                    <li>
                        <a href="syllabus">Syllabus</a>
                    </li>
                    <li>
                        <a href="about_loggedin">About</a>
                    </li>
                    <li>
                        <a href="contact_loggedin">Contact Us</a>
                    </li>
                    <li>
                        <a href="myaccount_loggedin" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i></a>                 
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>

        <div class="text-box">
            <h1>One Community</h1>
            <p>Welcome to NestNetwork, a platform for learning and collaboration.</p>
        </div>
    </section>

    <section class="community">
        <h1>Nest Network Offers</h1>
        <p>Explore the various offerings of Nest Network.</p>

        <div class="row">
            <div class="course-col">
                <h3>Communities</h3>
                <p>Join vibrant communities focused on different subjects.</p>
            </div>
            <div class="course-col">
                <h3>Syllabus</h3>
                <p>Access detailed syllabi for your chosen courses.</p>
            </div>
            <div class="course-col">
                <h3>Lecturers & Students</h3>
                <p>Engage with experienced lecturers and fellow students.</p>
            </div>
        </div>
    </section>

    <section class="community2" id="communities">
        <h1>Communities</h1>
        <p>Discover our vibrant communities.</p>

        <div class="row">
            <div class="comm-col">
                <a href="cyber_security_intrologged">
                <img src="../static/imgs/slide2.jpeg">
                <div class="layer">
                    <h3>Cyber Security</h3>
                </div>
                </a>
            </div>
            <div class="comm-col">
                <a href="ps">
                <img src="../static/imgs/slide1.jpeg">
                <div class="layer" >
                    <h3>Problem Solving</h3>
                </div>
                </a>
            </div> 

            <div class="comm-col">
                <a href="embedded_system_intrologged">
                <img src="../static/imgs/slide3.jpg">
                <div class="layer">
                    <h3>Embedded Systems</h3>
                </div>
                </a>
            </div>
        </div>
    </section>

    <section class="syllabus">
        <h1>Syllabus</h1>
        <p>Access detailed syllabi for our courses.</p>

        <div class="row">
            <div class="s-col">
                <img src="../static/imgs/library.png">
                <h3>Huge date Access</h3>
                <p>Access our extensive Data resources.</p>
            </div>
            <div class="s-col">
                <img src="../static/imgs/Professor.jpg">
                <h3>Expert Professors</h3>
                <p>Learn from world-renowned professors in various fields.</p>
            </div>
            <div class="s-col">
                <img src="../static/imgs/cafeteria.png">
                <h3>meet others</h3>
                <p>Enjoy meeting people with the same passion</p>
            </div>
        </div>

    </section>
    
    <section class="footer">
        <h4>About Us</h4>
        <p>Learn more about NestNetwork and our mission.</p>
        <div class="icons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram "></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube "></i></a>
            <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin "></i></a>
        </div>
    </section>
</body>
</html>
