<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
<script src="https://kit.fontawesome.com/ed4f7946ad.js" crossorigin="anonymous"></script>
    
<title>Document</title>
</head>
<body>

    <section class="header">
        <nav>
            <a href="index.html"><img src="../static/imgs/logo.png"></a>
            <a href="index.html" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Communities</a>
                    </li>
                    <li>
                        <a href="">Syllabus</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                    <li>
                        <a href="" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i></a>                 
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>

        <div class="text-box">
            <h1>One communities</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet quam eos debitis fugit <br>exercitationem nesciunt repudiandae, 
                neque dolore numquam tenetur ex, <br>sit maxime consequuntur omnis alias. 
                Itaque totam reiciendis officiis?</p>
                <a href="" class="hero-btn">Login to get Started</a>
        </div>
    </section>

    <section class="community">
        <h1>Nestwork Offers</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="course-col">
                <h3>Communities</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur ex ratione odio
                     velit repellat provident tempore porro rerum similique maiores, 
                    quam reiciendis ipsam placeat facilis quos blanditiis iure nam.</p>
            </div>
            <div class="course-col">
                <h3>Syllabus</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur ex ratione odio
                     velit repellat provident tempore porro rerum similique maiores, 
                    quam reiciendis ipsam placeat facilis quos blanditiis iure nam.</p>
            </div>
            <div class="course-col">
                <h3>Lecturers & Students</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur ex ratione odio
                     velit repellat provident tempore porro rerum similique maiores, 
                    quam reiciendis ipsam placeat facilis quos blanditiis iure nam.</p>
            </div>
        </div>
    </section>

    <section class="community2">
        <h1>Communities</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="comm-col">
                <a href="#">
                <img src="../static/imgs/slide2.jpeg">
                <div class="layer">
                    <h3>Cyber Security</h3>
                </div>
                </a>
            </div>
            <div class="comm-col">
                <a href="#">
                <img src="../static/imgs/slide1.jpeg">
                <div class="layer">
                    <h3>Problem Solving</h3>
                </div>
                </a>
            </div> 

            <div class="comm-col">
                <a href="#">
                <img src="../static/imgs/slide3.jpg">
                <div class="layer">
                    <h3>Embedded System</h3>
                </div>
                </a>
            </div>
        </div>
    </section>

    <section class="syllabus">
        <h1>PUT HERE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="s-col">
                <img src="../static/imgs/library.png">
                <h3>PUT HERE</h3>
                <p>PUT SENTENCE</p>
            </div>
            <div class="s-col">
                <img src="../static/imgs/Professor.jpg">
                <h3>PUT HERE</h3>
                <p>PUT SENTENCE</p>
            </div>
            <div class="s-col">
                <img src="../static/imgs/cafeteria.png">
                <h3>PUT HERE</h3>
                <p>PUT SENTENCE</p>
            </div>
        </div>

    </section>

    <section class="login">
        <h1>Login And Get Started</h1>
        <a href="" class="hero-btn">Login</a>

    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem a voluptatum inventore</p>
        <div class="icons">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram "></i></a>
            <a href=""><i class="fa-brands fa-youtube "></i></a>
            <a href=""><i class="fa-brands fa-linkedin "></i></a>
        </div>
    </section>

</body>
</html>