<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Sign Up</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Your CSS file -->
</head>
<body>
    <div class="header">
        <nav>
            <a href="home"><img src="../static/imgs/logo.png"></a>
            <a href="home" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="communities">Communities</a>
                    </li>
                    <li>
                        <a href="syllabus">Syllabus</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="myaccount" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i></a>                 
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>

        <div class="text-box">
            <h1>Welcome to Our Website</h1>
            <p>Beautifully designed courses to enhance your skills.</p>
            <a href="home" class="hero-btn">Explore Now</a>
        </div>
    </div>

    <!-- Login/Signup Modal -->
    <div id="login-signup-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="login">
                <h1>Login or Sign Up</h1>
                <div class="login-options">
                    <a href="login" class="hero-btn">Login</a>
                    <a href="signup" class="hero-btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
