<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Ahmed Mohamed">
        <title>Problem Solving</title>
        <link rel="stylesheet" href="../static/ps.css">
    </head>
    <body>
        <div class="container_choose">
            <img src="../imgs/ps_ph1.jpeg" alt="" width="100%"> 
            <a href="/ps_video"><span><button
                        class="ps_vid">Videos</button></span></a>
            <a href="/ps_sheet"><span><button
                        class="ps_sh">Sheets</button></span></a>
        </div>
    </body>
</html>