<!DOCTYPE html>
<html lang="en">
    <head>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script>
            $(document).ready(function(){
                $("a").on('click', function(event) {
                    if (this.hash !== "") {
                        event.preventDefault();
                        var hash = this.hash;
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function(){
                            window.location.hash = hash;
                        });
                    }
                });
            });
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Ahmed Mohamed">
        <title>Problem Solving</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../static/ps.css">
    </head>
    <body>
        <header>
            <nav>
                <h1 class="logo">Problem Solving</h1>
                <ul class="menu">
                    <!-- <li><a href="#aboutus">About Us</a></li> -->
                    <li><a href="#levels">Levels</a></li>
                    <li><a href="#container">Contact</a></li>
                </ul>
            </nav>
        </header>
        <aboutus id="aboutus">

        </aboutus>
        <levels>
            <div id="levels" class="levels">
                <img id="back" src="../static/imgs/R.jpeg" alt="Snow"
                    style="width:100%;">
                <div class="centered">
                    <ul class="menu">
                        <li><a href="#">Level Zero</a>
                            <ul class="submenu">
                                <li><a href="#">Data tyeps</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Conditions</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Loops</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Array and Strings</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Functions</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Recursion</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Frequency Array</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Partial Sum</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Greedy Algorithm</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Level One</a>
                            <ul class="submenu">
                                <li><a href="#">Stls</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Comparing Function</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sorting Algorithm</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Two Pointers</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Binary Search</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Bitmask</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Backtrack</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Level Two</a>
                            <ul class="submenu">
                                <li><a href="#">Intro to Graph</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">DFS</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">BFS</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dijkstra</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dynamic Progamming
                                        (Recursion)</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dynamic Progamming
                                        (Iterative)</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">DSU</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">MST</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sparse Table</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Segment Tree</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Advaned Level</a>
                            <ul class="submenu">
                                <li><a href="#">Intro to Graph</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">DFS</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">BFS</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dijkstra</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dynamic Progamming
                                        (Recursion)</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dynamic Progamming
                                        (Iterative)</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">DSU</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">MST</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sparse Table</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Segment Tree</a>
                                    <ul class="submenu2">
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Sheets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </levels>
        <div class="container" id="container">
            <div style="text-align:center">
                <h2>Contact Us</h2>
                <p>Swing by for a cup of coffee, or leave us a
                    message:</p>
            </div>
            <div class="row">
                <div class="column">
                    <img src="../static/imgs/contact.jpeg"
                        style="width:100%">
                </div>
                <div class="column">
                    <form action>
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname"
                            placeholder="Your name..">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname"
                            placeholder="Your last name..">
                        <label for="country">Country</label>
                        <select id="country" name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>
                        <label for="subject">Subject</label>
                        <textarea id="subject" name="subject"
                            placeholder="Write something.."
                            style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>