<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/take_actions.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ed4f7946ad.js" crossorigin="anonymous"></script>
    
    <title>Problem Solving | Helwan NestNetwork</title>
</head>
<body>

    <section class="header">
        <nav>
            <a href="about"><img src="../static/imgs/logo.png"></a>
            <a href="about" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="signup">Start Training</a>
                    </li>
                    <li>
                        <a href="myaccount" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i></a>                 
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>

        <div class="text-box">
            <h1>Problem Solving</h1>
            <p><h3>
                Do you want to start Competetive programming ?
                <br>
                Do you want to join ECPC !?  
                </h3></p>
            <a class="hero-btn" href="signup">Start Training</a>
        </div>
    </section>

    <section class="community">
        <h1>The Power of Problem Solving</h1>
        <p>Problem-solving skills are essential in navigating life's challenges, both personally and professionally. They empower individuals to tackle complex problems methodically, fostering resilience and adaptability in the face of adversity. From overcoming obstacles in daily tasks to innovating solutions in the workplace, honing problem-solving abilities cultivates confidence and fosters continuous growth.
        </p>

        <!-- Include additional content here -->
    </section>

    <section class="footer">
        <h4>Contact Us</h4>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        <div class="icons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram "></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube "></i></a>
            <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin "></i></a>
        </div>
    </section>

</body>
</html>
