<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Ahmed Mohamed">
        <title>Sheets</title>
        <link rel="stylesheet" href="../static/ps.css">
    </head>
    <body>
        <div class="container_choose">
            <a href="/signup_stud"><span><button
                        class="sign-up1">Videos</button></span></a>
            <a href="/signup_prof"><span><button
                        class="login1">Sheets</button></span></a>
        </div>
    </body>
</html>