<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Youssef Mohamed">
    <title>Helwan NestNetwork Sign-Up</title>
    <link rel="stylesheet" href="../css/sign-up.css">
</head>
<body>
    <div class = "container">
        <div class = "ph"></div>
        <div class = "data">
            <div>
                <label for="fn">First name</label>
                <input type="text" id = "fn">
            </div>
            <div>
                <label for="ln">Last name</label>
                <input type="text" id = "ln">
            </div>
            <div>
                <label for="id">Student ID</label>
                <input type="number" id = "id">
            </div>
            <div>
                <label for="ue">University Email</label>
                <input type="email" id = "ue">
            </div>
            <div>
                <label for="pass">Create Password</label>
                <input type="password" id = "pass" minlength="5" maxlength="20">
            </div>
            <div>
                <label for="un">University</label>
                <input type="text" id = "un">
            </div>
            <div>
                <label for="fac">Faculty</label>
                <input type="text" id = "fac">
            </div>
            <div>
                <label for="Dep">Department</label>
                <input type="text" id = "Dep">
            </div>
        </div>
    </div>
</body>
</html>