<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Youssef Mohamed">
    <title>Helwan NestNetwork Sign-Up</title>
    <link rel="stylesheet" href="../static/sign-up.css">
</head>
<body>
    <div class = "container">
        <div class = "ph"></div>
        <div class = "data">
            <form action="/signup" method="POST">
            <div class = "form-group">
                <label for="fn">First name</label>
                <input type="text" id = "fn" required placeholder = "ex: Mahmoud" name="first_name"> 
                <span class = "hidden">endl</span>
                <label for="fn">Phone number</label>
                <input type="text" id = "fn" required placeholder = "ex: 01155612392" name="ph_num">
                <span class = "hidden">endl</span>
  
            </div>
            <div class = "form-group">
                <label for="ln">Last name</label>
                <input type="text" id = "ln" required placeholder = "ex: Zaki" name="last_name">
                <span class = "hidden">endl</span>
            </div>
            <div class = "form-group">
                <label for="ue">University Email</label>
                <input type="email" id = "ue" required placeholder = "ex: mahmoud@gmail.com" name="uni_email"> 
                <span class = {{pop_message}} style="display: inline;" >{{text}}</span>
            </div>
            <div class = "form-group">
                <label for="pass">Create Password</label>
                <input type="text" id = "pass" minlength="5" maxlength="20" required placeholder = "ex: Strong Password" name="password">
                <span class = "{{pop_message1}}">Please Enter a Strong password</span>
            </div>
            <div class = "form-group">
                <label for="un">University</label>
                <input type="text" id = "un" required placeholder = "ex: Helwan University" name="uni">
                <span class = "hidden">endl</span>
            </div>
            <div class = "form-group">
                <label for="fac">Faculty</label>
                <input type="text" id = "fac" required placeholder = "ex: Faculty of Engineering" name="faculty">
                <span class = "hidden">endl</span>
            </div>
            <div class = "form-group">
                <label for="Dep">Department</label>
                <input type="text" id = "Dep" required placeholder = "ex: Computer and Systems" name="depart">
                <span class = "hidden">endl</span>
            </div>
            <div class = "radio_but">
                <div>
                    <div><label for="gender">Gender:</label></div>
                    <input type="radio" id="male" name="gender" value="male" required >
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </div>
                <div>
                    <div><label for="Type">Type</label></div>
                    <input type="radio" id = "std" name = "Type" value = "Student" required>
                    <label for="std">Student</label>
                    <input type="radio" id = "prf" name ="Type" value = "Professor">
                    <label for="prf">Proffessor</label>
                </div>
            </div>
            <button class = "sign-up">Sign Up</button></span>
            </form>
        </div>
    </div>
</body>
</html>