<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_cyber.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/take_actions.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ed4f7946ad.js" crossorigin="anonymous"></script>
    
    <title>Syllabus | Helwan NestNetwork</title>
</head>
<body>

    <section class="header" style = "background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../static/imgs/syl.jpg) ;">
        <nav>
            <a href="home"><img src="../static/imgs/logo.png" alt="Logo"></a>
            <a href="home" class="logo">NESTNETWORK</a>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="signup">Start Learning</a></li>
                    <li>
                        <a href="myaccount" class="nav-link dropdown-toggle nav-links text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i></a>   
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>

        <div class="text-box">
            <h1>Syllabus</h1>
            <a class="hero-btn" href="signup">Start Learning</a>
        </div>
    </section>

    <section class="community">
        <h1>Syllabus</h1>
        <p>Enter or take Data</p>
    </section>

    <section class="footer">
        <h4>Contact Us</h4>
        <div class="icons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </section>

</body>
</html>
