/* Reset */

html,bode{
    scroll-behavior: smooth;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ecf0f1;
    color: #666;
    
}

/* Nav Styles */

header{
    background-color: black;
    padding: 2rem 0;
}

nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 9%;
}

.menu > li, .menu > a{
    display: inline-block;
}

.menu li{
    position: relative;
}

.menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.menu a:hover{
    background-color: #27ca18;
    color: #fff
}

/* Submenu Level 1 Style */

.submenu{
    position: absolute;
    background-color: black;
    width: 200px;
    left: 0;
    display: none; /* Hide Submenu */
}

.submenu2{
    position: absolute;
    left: 100%;
    width: 140px;
    top: 0;
    background-color: black;
    display: none; /* Hide Submenu */
}
/* Show menu on hover */

.menu li:hover > .submenu{
    display: block;
    /* Add the Animation */
    animation: slideup .3s ease;
}

.submenu li:hover > .submenu2{
    display: block;
    /* Add the Animation */
    animation: slideup .3s ease;
}

/* Anumation KeyFrames */

@keyframes slideup {
    0%{
        opacity: 0;
        transform: translateY(18px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0%{
        opacity: 0;
        transform: translateX(18px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

body{
    background-color: white;
}

/* About Us */



/* Levels */

.levels {
    position: relative;
    text-align: center;
    color: white;
}

#back{
    margin-top: -2%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.levels > li, .levels > a{
    display: inline-block;
    padding: 10px 1.5rem;
}

.levels li{
    position: relative;
}

.levels a{
    text-decoration: none;
    background-color: #27ca18;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.levels a:hover{
    background-color: #40b733;
    color: #fff
}

/* Show menu on hover */

.levels li:hover > .submenu{
    display: block;
    /* Add the Animation */
    animation: slideup .3s ease;
}

/* Contact */

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #27ca18;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-left: -10%;
}

input[type=submit]:hover {
    background-color: #40b733;
}

.container {
    margin-top: -1%;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
}

.container h2,p,label{
    color: white;
}

.container option{
    color: black;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}